<!DOCTYPE html>
<html lang="en">
<head>
    <meta image()"utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Quartz/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Quartz/css/bootstrap-icons.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Quartz/css/prism-okaidia.css" asp-append-version="true" />
    <!--Calendar Scripts-->
    <link rel="stylesheet" href="~/FullCalendar/main.css" />

    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="bg-image"
      style="background-image: url('https://raw.githubusercontent.com/dackel96/ShuInkWeb/main/ShuInkWeb/ShuInkWeb/wwwroot/images/Abstract-backgroundBLur.jpg');
            background-attachment:fixed;">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark shadow-5-strong bg-dark">
            <div class="container-fluid bg-dark">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">ShuInk</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-info" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-info" asp-area="" asp-controller="Artist" asp-action="About">Our Artists</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container opacity-100">
        <div class="card border-1 shadow my-5 bg-dark">
            <div class="card-body p-5">
                <div class="container opacity-100">
                    <main role="main" class="pb-3">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
    </div>
    <footer class="border-top bg-dark footer text-muted">
        <div class="container">
            &copy; @DateTime.Now.Year - Plzv Softwear Inc.
        </div>
    </footer>
    <script src="~/FullCalendar/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/Quartz/js/prismjs.js" asp-append-version="true"></script>
    <script src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
