@model AppointmentViewModel

@{
    ViewBag.Title = "Add Appointment";
}

<div class="text-center bg-dark rounded-bottom">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<partial name="_AppointmentViewPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}