@model AppointmentViewModel

@{
    ViewBag.Title = "Edit Appointment";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

<partial name="_AppointmentViewPartial" model="@Model" />

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}