@model IEnumerable<HappeningViewModel>

@{
    ViewBag.Title = "Last News";
}

<div class="card-body col-12 align-content-center bg-dark rounded-3">
    @foreach (var item in Model)
    {
        <div class="align-content-center">
            <h3>@item.Title</h3>
            <p>
                @item.Content
            </p>
            <img src="@item.ImageUrl">
        </div>
        <hr />
    }
</div>