@using ShuInkWeb.Core.Models.MerchandiseModels
@model IEnumerable<MerchandiseViewModel>

@{
    ViewBag.Title = "Shop";
}
<div class="text-center bg-dark rounded-bottom">
    <h1 class="display-4">@ViewBag.Title</h1>
</div>

<div class="row-md-4 bg-dark rounded-3">
    <div class="col-md-4 offset-md-4">
        @foreach (var item in Model)
        {
            <div class="align-content-center">
                <img src="@item.ImageUrl">
                <h3>@item.Name</h3>
                <p>
                    @item.Price
                </p>
            </div>
            <hr />
        }
    </div>
</div>
